site_name: Forgetti
repo_url: https://github.com/willuhmjs/forgetti
repo_name: forgetti
site_url: https://willuhmjs.github.io/forgetti/
nav:
  - Home: index.md
  - Setup:
    - Installation: installation.md
    - Updates: updates.md
not_in_nav: |
  proposal.md
theme:
  name: material
  features:
    - content.code.copy
    - navigation.instant
    - navigation.instant
    - navigation.instant.progress
    - navigation.tracking
    - navigation.sections
    - navigation.top
    - navigation.footer
    - social
markdown_extensions:
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - attr_list
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences
  - admonition
  - pymdownx.details
  - pymdownx.superfences
extra:
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/willuhmjs/forgetti
    - icon: fontawesome/brands/discord
      link: https://discord.gg/SQJewQPDjK
