site_name: Forgetti
repo_url: https://github.com/willuhmjs/forgetti
repo_name: forgetti
site_url: https://willuhmjs.github.io/forgetti/
nav:
  - Home: index.md
  - Get Started: get_started.md
not_in_nav: |
  proposal.md
theme:
  name: material
  features:
    - content.code.copy
    - navigation.instant
    - navigation.instant
    - navigation.instant.progress
    - navigation.tracking
    - navigation.top
    - navigation.footer
    - social
markdown_extensions:
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences
  - admonition
  - pymdownx.details
  - pymdownx.superfences
extra:
  social:
    - icon: fontawesome/brands/github 
      link: https://github.com/willuhmjs/forgetti
    - icon: fontawesome/brands/discord
      link: https://discord.gg/2YmK66G