name: Deploy to GitHub Pages
'on':
  push:
    branches: main
jobs:
  build_site:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: 3.x
      - run: pip install mkdocs-material mkdocs-table-reader-plugin
      - name: build
        env:
          BASE_PATH: '/${{ github.event.repository.name }}'
        run: |
          mkdocs build
      - name: Upload Artifacts
        uses: actions/upload-pages-artifact@v2
        with:
          path: site/
  deploy:
    needs: build_site
    runs-on: ubuntu-latest
    permissions:
      pages: write
      id-token: write
    environment:
      name: github-pages
      url: '${{ steps.deployment.outputs.page_url }}'
    steps:
      - name: Deploy
        id: deployment
        uses: actions/deploy-pages@v2
