name: "pre-release"

on:
  push:
    branches:
      - "main"

jobs:
  pre-release:
    name: "Pre Release"
    runs-on: "ubuntu-latest"

    steps:
      - uses: actions/checkout@v4
      - uses: pnpm/action-setup@v2
        with:
          version: 8
      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
            node-version: "18.x"
            cache: "pnpm"
      - name: Install and build
        run: |
          pnpm i
          pnpm build
      - name: Create tar archive
        run: tar -czf forgetti.tar.gz -C build .
      - name: Create zip archive
        run: zip -r forgetti.zip build
      - uses: "marvinpinto/action-automatic-releases@latest"
        with:
          repo_token: "${{ secrets.GITHUB_TOKEN }}"
          automatic_release_tag: "latest"
          prerelease: true
          title: "Development Build"
          files: |
            LICENSE
            build.tar.gz
            build.zip
